@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500&family=Roboto:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap");
body {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 26px;
  color: #212529; }

section {
  padding: 50px 0; }

.modal-dialog {
  max-width: 810px; }

.view-more-popup {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
  justify-content: center; }
  .view-more-popup button {
    display: inline-block;
    background: #1468A1;
    color: white;
    font-size: 14px;
    border-radius: 100px;
    border: 0;
    padding: 5px 20px; }

.item-profile:hover .view-more-popup {
  visibility: initial;
  opacity: 1; }

.video-section {
  background: url(../images/video-bg.png) no-repeat center top;
  display: inline-block;
  width: 100%;
  padding: 0 !important; }
  .video-section .container {
    position: relative; }
    .video-section .container .icon-video {
      height: 585px;
      width: 100%;
      display: flex;
      margin: auto;
      text-align: center;
      align-content: center; }
      .video-section .container .icon-video img {
        width: 100px;
        margin: auto; }

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  left: 0;
  background: white;
  padding: 13px 0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.07); }
  header .content-heade {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  header nav ul {
    display: flex;
    margin-bottom: 0; }
    header nav ul li {
      list-style: none; }
      header nav ul li a {
        color: #212529;
        padding: 10px 20px; }
        header nav ul li a:hover {
          color: #1468A1; }

.tab-content.mb span {
  display: none; }

.slide-banner {
  margin-top: 96px;
  display: inline-block;
  width: 100%; }
  .slide-banner .owl-dots {
    display: none; }
  .slide-banner .owl-nav button {
    outline: none;
    background: none !important; }
  .slide-banner .owl-nav .owl-next {
    width: 30px;
    height: 30px;
    border-radius: 4px;
    display: inline-block;
    font-weight: normal;
    color: white !important;
    background: #FF6400;
    padding: 0 !important;
    line-height: 6px;
    font-size: 19px;
    position: absolute;
    right: 0;
    top: 44%; }
    .slide-banner .owl-nav .owl-next span {
      font-size: 80px;
      background: none !important; }
  .slide-banner .owl-nav .owl-prev {
    width: 30px;
    height: 30px;
    border-radius: 4px;
    display: inline-block;
    font-weight: normal;
    color: white !important;
    background: #FF6400;
    padding: 0 !important;
    line-height: 6px;
    font-size: 19px;
    position: absolute;
    left: 0;
    top: 44%; }
    .slide-banner .owl-nav .owl-prev span {
      font-size: 80px;
      background: none !important; }

.editor-content h2.center {
  text-align: center; }
.editor-content p.justify {
  color: #212529;
  font-size: 16px;
  margin: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: justify; }
.editor-content.pr-70 {
  padding-right: 70px; }
.editor-content p {
  line-height: 26px;
  font-weight: normal; }

.button-link {
  display: inline-block;
  width: 100%;
  text-align: right; }
  .button-link a {
    background: #3CC1CF;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    padding: 15px 30px; }

.video-popup .modal-body {
  padding: 0 !important; }
  .video-popup .modal-body button {
    position: absolute;
    right: -50px;
    top: -10px;
    font-weight: normal;
    width: 40px;
    height: 40px;
    background: white;
    opacity: 1;
    border-radius: 100%;
    color: #999;
    line-height: 14px; }
.video-popup .content-video iframe {
  width: 100%;
  height: 454px; }

footer .editor-footer span {
  text-align: left;
  display: inline-block;
  width: 100%; }
footer .logo-footer span {
  display: inline-block;
  margin-bottom: 20px;
  width: 100%; }

.animation-numbers .col {
  padding: 0 !important; }
  .animation-numbers .col:nth-last-child(1) h2 {
    position: relative; }
    .animation-numbers .col:nth-last-child(1) h2::before {
      content: '+';
      display: inline-block;
      font-size: 32px;
      color: #121E48;
      position: absolute;
      right: -10px;
      top: 15%; }
  .animation-numbers .col h2 {
    font-family: 'Merriweather Sans', sans-serif; }
.animation-numbers .count-title {
  font-size: 52px;
  font-weight: normal;
  color: #121E48;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
  font-weight: 400;
  position: relative; }
.animation-numbers .count-text {
  font-size: 13px;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 0;
  color: #121E48;
  text-align: center; }

.phone-head a {
  text-decoration: none;
  display: flex;
  align-items: center; }
  .phone-head a span {
    color: white;
    font-size: 20px;
    margin-left: 2px; }

footer {
  display: inline-block;
  padding: 50px 0;
  width: 100%; }

a.link-download {
  height: 35px;
  background: #F6F6F6;
  color: #0081B8;
  display: inline-block;
  padding: 5px 20px;
  margin-top: 10px;
  border-radius: 50px;
  margin-bottom: 30px; }

.maps-img {
  margin-bottom: 30px; }

.editor-conferences h3 {
  font-size: 24px !important; }

.editor-conferences h3 {
  font-family: 'Lato', sans-serif; }

.row-member {
  display: flex; }
  .row-member ul {
    margin-top: 20px;
    border: 0 !important;
    height: initial !important; }
    .row-member ul b {
      margin-bottom: 14px;
      display: inline-block; }
    .row-member ul li {
      font-size: 14px;
      display: inline-block;
      text-align-last: left;
      width: 100%;
      position: relative;
      padding: 0;
      font-family: 'Lato', sans-serif;
      padding-left: 14px; }
      .row-member ul li::after {
        content: '';
        display: inline-block;
        width: 5px;
        height: 5px;
        background: #121E48;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 12px; }

img {
  max-width: 100%; }

.slide-mb {
  display: none; }

iframe {
  width: 100%; }

h2 {
  font-size: 32px;
  color: #015D6C; }

.logo-footer {
  text-align: right; }

.video-section {
  padding: 50px 0;
  position: relative;
  height: 600px;
  text-align: center;
  position: relative;
  padding-top: 100%;
  display: block; }
  .video-section video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    left: 0;
    top: 0; }
  .video-section button {
    position: absolute;
    right: 20px;
    bottom: 20px;
    border: 0;
    background: #015D6C;
    color: white;
    outline: none; }
  .video-section h2 {
    font-size: 32px;
    color: #015D6C;
    text-transform: uppercase; }
  .video-section .video-item {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.07);
    display: inline-block;
    margin-top: 20px;
    border-radius: 0 0 8px 8px;
    width: 100%; }
    .video-section .video-item span {
      font-size: 16px;
      font-weight: bold;
      padding: 20px;
      text-align: left;
      display: inline-block;
      width: 100%;
      margin: 0; }

.modal-title {
  color: #015D6C; }

.iphone-mockup img {
  display: none; }
  .iphone-mockup img.active {
    display: inline-block; }

.content-step-tab {
  text-align: left;
  position: relative; }
  .content-step-tab::before {
    height: 330px;
    left: 26px;
    width: 1px;
    top: 0;
    position: absolute;
    content: '';
    display: inline-block;
    border-left: 1px dashed #fff; }
  .content-step-tab span {
    color: white;
    font-size: 16px;
    position: absolute;
    padding-left: 65px; }
  .content-step-tab b {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 1;
    position: relative;
    display: inline-block;
    text-align: center;
    padding-top: 11px;
    background: white;
    margin-right: 20px; }
  .content-step-tab .step-1 {
    margin-top: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    left: 60px; }
    .content-step-tab .step-1:nth-child(1) {
      margin-top: 60px; }
    .content-step-tab .step-1.active b {
      background: #015D6C;
      color: white; }

.shopee-contenttab::before {
  height: 360px !important; }

.countdown-item a span {
  font-size: 20px !important; }

iframe {
  float: left; }

.road-maps {
  padding: 50px 0;
  text-align: center;
  display: inline-block;
  width: 100%;
  background: url(../images/step-bg.png) no-repeat center top;
  min-height: 740px; }
  .road-maps h2 {
    color: white;
    margin-bottom: 30px; }
  .road-maps ul {
    border: 0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; }
    .road-maps ul li {
      margin-bottom: 30px;
      padding: 0 5px; }
      .road-maps ul li a {
        font-size: 14px;
        text-transform: uppercase;
        color: #212529;
        background: white;
        display: inline-block;
        padding: 10px 20px;
        border-radius: 8px; }
        .road-maps ul li a.active {
          background: #015D6C;
          color: white; }

.countdown-item {
  position: relative;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.07); }
  .countdown-item .sanmangay-link {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background: #015D6C;
    color: white;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 8px; }
  .countdown-item a span {
    font-size: 14px;
    font-weight: bold;
    padding: 20px;
    color: #FF6400;
    text-align: left;
    display: inline-block;
    background: white;
    width: 100%;
    margin: 0;
    border-radius: 0 0 8px 8px;
    text-decoration: underline; }

.voucher-section .countdown-item a span {
  font-size: 13px !important; }

.modal-header button {
  outline: none; }
  .modal-header button img {
    width: 30px; }

.tab-bootraps-content a span {
  color: white !important;
  position: absolute; }

.tab-bootraps-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .tab-bootraps-content img {
    max-height: 500px; }
  .tab-bootraps-content a {
    padding: 0 !important;
    text-transform: none !important;
    display: flex !important;
    align-items: center; }
    .tab-bootraps-content a span {
      padding-left: 60px; }
    .tab-bootraps-content a b {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      z-index: 1;
      position: relative;
      display: inline-block;
      text-align: center;
      padding-top: 11px;
      background: white !important;
      margin-right: 20px; }
    .tab-bootraps-content a span {
      color: white !important; }
    .tab-bootraps-content a.active {
      background: none !important; }
      .tab-bootraps-content a.active b {
        background: #015D6C !important;
        color: white !important; }
      .tab-bootraps-content a.active span b {
        background: none !important;
        color: white !important;
        margin: 0 !important;
        font-weight: normal !important; }
  .tab-bootraps-content ul li {
    text-align: left;
    display: inline-block;
    width: 100%; }

.content-tab ul li {
  margin-bottom: 0 !important; }
  .content-tab ul li a {
    background: none;
    text-decoration: none !important; }
    .content-tab ul li a span b {
      background: none !important;
      width: initial !important;
      height: initial !important;
      margin-right: 0 !important;
      font-weight: normal !important; }

.tab-bootraps-content a span {
  color: white !important; }

.flex-content-tab {
  max-width: 1100px;
  margin: auto; }
  .flex-content-tab ul.nav-pills::before {
    height: 430px;
    left: 29px;
    width: 1px;
    top: 0;
    position: absolute;
    content: '';
    display: inline-block;
    border-left: 1px dashed #fff; }

.content-popup {
  padding: 0 15px; }
  .content-popup p {
    font-weight: normal;
    text-align: justify;
    margin-bottom: 4px; }

.content-countdown {
  display: flex;
  justify-content: center;
  margin-top: 30px; }
  .content-countdown ul {
    display: flex;
    align-items: center;
    padding: 0; }
    .content-countdown ul b {
      font-size: 32px;
      line-height: 8px;
      margin-top: -42px;
      display: inline-block; }
    .content-countdown ul li {
      text-align: center;
      display: inline-block; }
      .content-countdown ul li span {
        background: #4B4B4B;
        width: 110px;
        height: 130px;
        display: inline-block;
        padding: 10px;
        border-radius: 8px;
        color: white;
        font-size: 72px; }
      .content-countdown ul li label {
        display: inline-block;
        width: 100%; }

.countdown .title-countdown {
  text-align: center; }
  .countdown .title-countdown h2 b {
    font-size: 31px;
    display: inline-block;
    font-weight: 400;
    width: 100%; }

.slide-banner {
  margin-top: 56px;
  display: inline-block;
  width: 100%; }

.voucher-section, .hotel-section {
  background: #015D6C;
  padding: 50px 0;
  display: inline-block;
  width: 100%; }
  .voucher-section h2, .hotel-section h2 {
    text-align: center;
    margin-bottom: 30px;
    color: white; }

.hotel-section {
  padding-bottom: 0 !important; }

.list-hotel {
  position: relative;
  padding-left: 315px;
  background: white;
  margin-bottom: 40px;
  overflow: hidden;
  border-radius: 8px; }
  .list-hotel .banner-ads {
    position: absolute;
    left: 0;
    width: 300px;
    top: 0; }
  .list-hotel .slide-hotel-item {
    position: relative; }
    .list-hotel .slide-hotel-item .price b, .list-hotel .slide-hotel-item .price span {
      font-size: 13px; }
    .list-hotel .slide-hotel-item .price span {
      opacity: .6;
      margin-left: 10px;
      text-decoration: line-through; }
    .list-hotel .slide-hotel-item h6 {
      padding: 10px 0;
      padding-bottom: 0;
      margin-bottom: 2px; }
      .list-hotel .slide-hotel-item h6 a {
        font-size: 13px;
        color: #212529;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden; }
      .list-hotel .slide-hotel-item h6:hover a {
        text-decoration: underline; }
    .list-hotel .slide-hotel-item .owl-dots {
      display: none; }
    .list-hotel .slide-hotel-item .owl-nav button {
      outline: none; }
    .list-hotel .slide-hotel-item .owl-nav .owl-next {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: inline-block;
      font-weight: normal;
      color: white;
      background: #FF6400;
      padding: 0 !important;
      line-height: 6px;
      font-size: 19px;
      position: absolute;
      right: 0;
      top: 40%; }
    .list-hotel .slide-hotel-item .owl-nav .owl-prev {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: inline-block;
      font-weight: normal;
      color: white;
      background: #FF6400;
      padding: 0 !important;
      line-height: 6px;
      font-size: 19px;
      position: absolute;
      left: 0;
      top: 40%; }
    .list-hotel .slide-hotel-item .box-hotel-item {
      padding: 15px 10px; }
      .list-hotel .slide-hotel-item .box-hotel-item .avatar-hotel a {
        position: relative;
        padding-top: 102%;
        display: block; }
        .list-hotel .slide-hotel-item .box-hotel-item .avatar-hotel a img {
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          left: 0;
          top: 0; }

.countdown {
  margin-bottom: 50px; }

.hotel-section {
  background: #FFF9F4; }
  .hotel-section h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #015D6C; }

.slide-banner-head {
  width: 100%; }

.slide-pc {
  display: block !important; }

.slide-mb {
  display: none !important; }

.step-1 span b {
  width: initial;
  height: initial;
  border-radius: 0;
  z-index: 1;
  position: relative;
  display: inline-block;
  text-align: center;
  padding-top: 0 !important;
  background: none !important;
  margin-right: initial !important;
  font-weight: normal;
  font-size: initial !important; }

.menu-mobile {
  display: none; }

.button-action-form {
  display: inline-block;
  width: 100%;
  text-align: center; }
  .button-action-form button {
    display: inline-block;
    background: #F47030;
    color: white !important;
    font-size: 16px;
    font-weight: bold;
    margin-top: 30px;
    padding: 10px 30px; }

.form-section-contact {
  background: #282F3E;
  display: inline-block;
  width: 100%; }
  .form-section-contact h3 {
    text-align: center;
    font-size: 30px;
    color: white;
    display: inline-block;
    margin-bottom: 20px;
    width: 100%;
    font-weight: bold; }
  .form-section-contact .form-never-miss form {
    max-width: 850px;
    margin: auto; }
    .form-section-contact .form-never-miss form input {
      height: 45px;
      border: 0;
      font-size: 14px; }

.infor-news {
  padding-top: 20px;
  padding-right: 15px; }
  .infor-news h6 {
    font-size: 16px;
    font-weight: bold; }
    .infor-news h6 a {
      color: #F47030;
      position: relative;
      padding: 0 !important;
      margin-bottom: 20px;
      font-size: 18px; }
  .infor-news p {
    margin-bottom: 5px; }

.popup-conferences .modal-dialog {
  max-width: 1100px !important; }
.popup-conferences .modal-content {
  background: none;
  box-shadow: none;
  border: 0;
  outline: none; }

.next-conferences .item-news {
  position: relative;
  padding-left: 300px;
  box-shadow: 0px 2px 6px rgba(7, 24, 44, 0.3);
  min-height: 280px;
  overflow: hidden;
  border-radius: 2px;
  margin-bottom: 40px; }
  .next-conferences .item-news .avatar-news {
    position: absolute;
    left: 0;
    width: 280px;
    top: 0; }
    .next-conferences .item-news .avatar-news a {
      position: relative;
      padding-top: 100%;
      display: block; }
      .next-conferences .item-news .avatar-news a img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        left: 0;
        top: 0; }
.next-conferences .link-detail-news {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
  text-align: right; }
  .next-conferences .link-detail-news a {
    display: inline-block;
    background: #2D8586;
    color: white;
    font-size: 15px;
    padding: 10px 30px;
    border-radius: 2px;
    font-weight: bold; }

.loadmore {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
  text-align: center; }
  .loadmore a {
    font-weight: bold;
    display: inline-block;
    padding: 10px 30px;
    background: #F47030;
    color: white;
    border-radius: 2px; }

.form-contact-page input {
  height: 40px;
  font-size: 14px;
  border: 1px solid #DFDFDF;
  width: 100%;
  border-radius: 5px;
  padding: 5px 15px;
  background: white; }
.form-contact-page textarea {
  height: 100px;
  font-size: 14px;
  border: 1px solid #DFDFDF;
  width: 100%;
  border-radius: 5px;
  padding: 5px 15px;
  background: white; }
.form-contact-page button {
  height: 50px;
  display: inline-block;
  background: #282F3E;
  color: white !important;
  font-size: 16px;
  padding: 5px 40px; }

.conferences-about h1 {
  text-align: center;
  display: inline-block;
  width: 100%;
  font-family: 'PT Sans Caption', sans-serif; }
.conferences-about p.time-location {
  font-family: 'PT Sans Caption', sans-serif;
  text-align: center; }

.breadcrumb-head {
  display: inline-block;
  width: 100%;
  margin-bottom: 30px; }
  .breadcrumb-head span {
    margin-right: 10px;
    font-family: 'Lato', sans-serif; }

.box-conferences {
  display: inline-block;
  width: 100%;
  padding: 30px 100px;
  border: 1px solid #DFDFDF; }

.img-head-conferences {
  position: relative; }
  .img-head-conferences img {
    width: 100%; }
  .img-head-conferences b {
    position: absolute;
    right: -20px;
    top: -31px;
    width: 100px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    padding: 50px 15px;
    background: #8EC321; }

.editor-conferences h6 {
  font-weight: 600; }
.editor-conferences h3 {
  font-weight: 600; }

.tab-conferences {
  margin-top: 30px; }

.editor-conferences {
  margin-top: 30px; }

.confer-other h2 {
  font-weight: 600;
  text-align: center;
  color: #212529;
  display: inline-block;
  width: 100%;
  margin-bottom: 30px; }
.confer-other .item-confer-other {
  border: 1px solid #DFDFDF; }
  .confer-other .item-confer-other .avatar-confer-other a {
    position: relative;
    padding-top: 27%;
    display: block; }
    .confer-other .item-confer-other .avatar-confer-other a img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      left: 0;
      top: 0; }

.infor-confer-other {
  padding: 20px; }
  .infor-confer-other h6 {
    font-size: 18px; }
    .infor-confer-other h6 a {
      font-size: 16px;
      font-weight: 600;
      color: #212529; }
  .infor-confer-other p {
    margin-bottom: 0; }
    .infor-confer-other p span {
      display: inline-block;
      width: 100%; }

.editor-conferences ul.nav {
  justify-content: center;
  border: 0 !important; }
  .editor-conferences ul.nav li a {
    border-radius: 50px;
    margin: 0 5px;
    display: inline-block;
    padding: 5px 40px;
    color: #0081B8;
    background: #F6F6F6; }
    .editor-conferences ul.nav li a.active {
      background: #1468A1;
      color: white !important; }
  .editor-conferences ul.nav a {
    border: 0 !important; }

.slide-tab-editor {
  display: inline-block;
  width: 100%;
  margin: 0px 0 0 0; }
  .slide-tab-editor img {
    max-width: 712px;
    margin: auto; }
  .slide-tab-editor .owl-nav button {
    background: none !important;
    outline: none !important; }
    .slide-tab-editor .owl-nav button span {
      font-size: 92px;
      color: #212529 !important; }
    .slide-tab-editor .owl-nav button.owl-prev {
      position: absolute;
      left: 0;
      top: 45%; }
    .slide-tab-editor .owl-nav button.owl-next {
      position: absolute;
      right: 0;
      top: 45%; }

.embebmaps {
  display: inline-block;
  width: 100%;
  margin-top: 30px;
  text-align: center; }
  .embebmaps iframe {
    width: 100%;
    height: 400px;
    margin-top: 10px; }

.profile-content-editor {
  position: relative; }
  .profile-content-editor a {
    pointer-events: none !important; }
  .profile-content-editor .col-md-3 {
    position: initial !important; }

.languages-head {
  display: flex; }
  .languages-head img {
    margin-left: 15px;
    height: 20px; }

.item-hover {
  padding: 50px;
  background: #3E3D3D;
  width: 100%;
  z-index: 1; }
  .item-hover button {
    outline: none;
    text-shadow: none; }
    .item-hover button i {
      color: white; }
  .item-hover .infor-tootip {
    display: inline-block;
    text-align: left; }
    .item-hover .infor-tootip h6 {
      font-size: 25px;
      display: inline-block;
      width: 100%;
      margin-bottom: 0;
      color: #FBFBFB; }
    .item-hover .infor-tootip span {
      margin-bottom: 15px;
      color: #5C5C77;
      display: inline-block;
      width: 100%; }
    .item-hover .infor-tootip p {
      color: white; }
    .item-hover .infor-tootip b {
      margin-top: 20px;
      text-transform: uppercase;
      color: #FBFBFB; }
    .item-hover .infor-tootip label {
      display: inline-block;
      width: 100%;
      color: #5C5C77; }
  .item-hover .content-tooltip {
    padding-left: 380px;
    position: relative;
    width: 100%;
    display: inline-block; }
    .item-hover .content-tooltip .avatar-tootip {
      position: absolute;
      width: 345px;
      left: 0;
      top: 0; }
      .item-hover .content-tooltip .avatar-tootip img {
        width: 100%; }

.item-profile {
  margin-top: 30px;
  text-align: center;
  position: relative; }
  .item-profile span, .item-profile b {
    display: inline-block;
    width: 100%;
    font-weight: normal;
    font-size: 14px; }
  .item-profile b {
    font-size: 18px; }
  .item-profile .avatar-ceo a {
    position: relative;
    padding-top: 130%;
    display: block;
    margin-bottom: 10px; }
    .item-profile .avatar-ceo a img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      left: 0;
      top: 0; }
  .item-profile:hover .item-hover {
    visibility: initial;
    opacity: 1; }

.confer-other .w-1000 {
  max-width: 1000px; }

.key-date {
  margin-top: -10px; }
  .key-date ul {
    height: initial !important;
    border: 0 !important; }

.box-Organizer {
  margin: 30px 0;
  text-align: center; }
  .box-Organizer h6 {
    font-size: 20px;
    margin-bottom: 20px; }
  .box-Organizer .box-logo-Organizer img {
    height: 30px;
    margin: 10px; }

.key-date h5 {
  font-size: 32px;
  border-bottom: 1px solid #282F3E;
  display: inline-block;
  width: 100%;
  line-height: 60px; }
.key-date ul {
  padding: 0; }
  .key-date ul li {
    list-style: none;
    position: relative;
    padding: 5px 0;
    padding-left: 90px; }
    .key-date ul li span {
      position: absolute;
      left: 0;
      top: 5px;
      font-size: 13px; }
    .key-date ul li p {
      display: inline-block;
      width: 100%;
      font-size: 14px;
      margin: 0;
      line-height: 25px; }

.link-keydates b {
  font-weight: 600;
  font-size: 15px; }

.tab-conferences ul {
  border-bottom: 1px solid #dfdfdf;
  height: 47px; }
  .tab-conferences ul li a {
    padding: 10px 30px;
    background: white;
    color: #212529;
    border-bottom: 1px solid #DFDFDF;
    margin-bottom: -1px;
    display: inline-block;
    text-decoration: none; }
    .tab-conferences ul li a.active {
      border-left: 1px solid #DFDFDF;
      border-right: 1px solid #DFDFDF;
      border-top: 1px solid #DFDFDF;
      border-bottom: 0;
      color: #015D6C; }

@media only screen and (max-width: 767px) {
  .editor-content.pr-70 {
    padding-right: 0; }

  footer .logo-footer span {
    text-align: left;
    margin-top: 20px; }

  footer .logo-footer {
    text-align: left; }

  .animation-numbers .count-title {
    font-size: 27px; }

  h2 {
    font-size: 22px; }

  .animation-numbers .col:nth-last-child(1) h2::before {
    content: '+';
    display: inline-block;
    font-size: 26px;
    color: #121E48;
    position: absolute;
    right: 10px;
    top: -2px; }

  header nav {
    position: fixed;
    width: 100%;
    display: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.07);
    background: white;
    top: 65px;
    left: 0; }
    header nav ul {
      display: inline-block;
      width: 100%;
      padding: 0 !important;
      margin: 0 !important; }
      header nav ul li {
        display: inline-block;
        width: 100%; }
        header nav ul li a {
          font-weight: bold;
          display: inline-block;
          opacity: .7;
          padding: 15px;
          width: 100%; }
  header.active nav {
    display: inline-block !important; }
  header.active .menu-mobile i::before {
    content: "\e646";
    font-family: 'themify'; }

  .logo img {
    height: 40px; }

  .menu-mobile {
    display: block;
    position: fixed;
    top: 22px;
    opacity: .6;
    right: 15px; }
    .menu-mobile i {
      font-size: 21px;
      color: #282F3E; }

  .video-popup .content-video iframe {
    width: 100%;
    height: 214px; }

  .video-popup .modal-body button {
    position: absolute;
    right: 41%;
    top: 230px;
    font-weight: normal;
    width: 40px;
    height: 40px;
    background: white;
    opacity: 1;
    border-radius: 100%;
    color: #999;
    line-height: 14px; }

  .video-section .container .icon-video {
    height: 315px; }

  .video-section {
    background-size: cover;
    height: 220px; }

  .slide-pc {
    display: none !important; }

  .slide-mb {
    display: block !important; }

  .animation-numbers {
    margin-bottom: 30px; }

  .next-conferences .item-news .avatar-news {
    width: 110px; }

  .next-conferences .item-news {
    position: relative;
    padding-left: 130px;
    min-height: 280px;
    box-shadow: none;
    border-radius: 0 !important;
    min-height: initial;
    padding-bottom: 20px;
    border-bottom: 1px solid #DFDFDF; }

  .infor-news {
    padding-top: 0 !important; }
    .infor-news p {
      margin-bottom: 4px; }

  body {
    font-size: 13px; }

  .item-confer-other {
    margin-bottom: 10px; }

  .tab-conferences ul {
    border-bottom: 1px solid #dfdfdf;
    height: 47px;
    flex-wrap: inherit;
    overflow-x: auto;
    overflow-y: hidden; }

  .editor-conferences ul {
    padding: 0;
    display: inline-block !important; }

  .tab-pane .editor-conferences ul.nav {
    display: flex !important; }
    .tab-pane .editor-conferences ul.nav li a {
      margin: 2px !important;
      font-size: 12px;
      padding: 4px 2px;
      min-height: 40px;
      border-radius: 4px;
      line-height: 15px;
      display: flex;
      align-items: center;
      align-content: center;
      text-align: center;
      justify-content: center; }

  .tab-conferences ul li a {
    min-width: 109px;
    padding: 10px 5px;
    text-align: center; }

  .confer-other {
    padding-top: 0; }

  .editor-conferences img {
    margin-bottom: 10px; }

  .img-head-conferences b {
    position: absolute;
    right: 0;
    top: -11px; }

  .img-head-conferences b {
    position: absolute;
    width: 80px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    padding: 20px 15px;
    background: #8EC321;
    font-size: 12px; }

  .box-conferences {
    display: inline-block;
    width: 100%;
    border: 0;
    padding: 0 !important;
    border-bottom: 1px solid #DFDFDF; }

  .row-member {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px; }
    .row-member ul {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
      padding: 0 10px; }

  .item-profile .item-hover .content-tooltip {
    padding-left: 0; }

  .item-profile .item-hover .content-tooltip .avatar-tootip {
    width: 100%; }

  .languages-head {
    display: flex;
    margin: 0px 70px 0 0; }

  .item-hover .content-tooltip {
    padding-left: 0; }

  .item-hover {
    padding: 0; }

  .popup-conferences .modal-dialog {
    margin: 0 !important; }
  .popup-conferences .modal-body {
    padding: 0 !important; }

  .item-hover .content-tooltip .avatar-tootip {
    width: 100%; }

  .infor-tootip {
    padding: 15px; }

  .item-hover .content-tooltip .avatar-tootip {
    position: relative; }

  .item-hover button {
    outline: none;
    text-shadow: none;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 1; }

  .profile-content-editor .row .col-md-3 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; } }

/*# sourceMappingURL=style.css.map */
