@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500&family=Roboto:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap');
body{
    width: 100%;
    font-family: 'Roboto', sans-serif;
	font-size: 15px;
	line-height: 26px;
	color:#212529;
}
$color-primary:#015D6C;
$color-oragen:#F47030;
$color-green:#8EC321;
$color-green-2:#2D8586;
$color-green-3:#3CC1CF;
$color-blue-dam:#121E48;

$color-bg:#F8F8F8;
$color-border:#DFDFDF;
$color-blue:#1468A1;

$color-second:#F2B601;
$color-text:#212529;
$color-text2:#282F3E;

@mixin shadow {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.07);
}
section{
	padding: 50px 0;
}
.modal-dialog {
    max-width: 810px;
}
.view-more-popup{
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	align-content: center;
	align-items: center;
	opacity: 0;
	visibility: hidden;
	top: 0;
    left: 0;
    justify-content: center;
	button{
		display: inline-block;
		background:$color-blue;
		color: white;
		font-size: 14px;
		border-radius: 100px;
		border: 0;
		padding: 5px 20px;
	}
}
.item-profile{
	&:hover{
		.view-more-popup{
			visibility:initial;
			opacity: 1;
		}
	}
}
.video-section{
	background: url(../images/video-bg.png) no-repeat center top;
	display: inline-block;
	width: 100%;
	padding: 0 !important;
	.container{
		position: relative;
		.icon-video{
			height: 585px;
			width: 100%;
			display: flex;
			margin: auto;
			text-align: center;
			align-content: center;
			img{
				width: 100px;
				margin: auto;
			}
		}
	}
}
header{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
	left: 0;
	background: white;
    padding: 13px 0;
	@include shadow();
	.content-heade{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav{
		ul{
			display: flex;
			margin-bottom: 0;
			li{
				list-style: none;
				a{
					color: $color-text;
					padding: 10px 20px;
					&:hover{
						color: $color-blue;
					}
				}
			}
		}
	}
}
.tab-content.mb{
	span{
		display: none;
	}
}
.slide-banner{
	margin-top: 96px;
    display: inline-block;
    width: 100%;
	.owl-dots{
		display: none;
	}
	.owl-nav{
		button{
			outline: none;
			background: none !important;
		}
		.owl-next{
			width: 30px;
			height: 30px;
			border-radius: 4px;
			display: inline-block;
			font-weight: normal;
			color: white !important;
			background: #FF6400;
			padding: 0 !important;
			line-height: 6px;
			font-size: 19px;
			position: absolute;
			right: 0;
			top: 44%;
			span{
				font-size: 80px;
				background: none !important;
			}
		}
		.owl-prev{
			width: 30px;
			height: 30px;
			border-radius: 4px;
			display: inline-block;
			font-weight: normal;
			color: white !important;
			background: #FF6400;
			padding: 0 !important;
			line-height: 6px;
			font-size: 19px;
			position: absolute;
			left: 0;
			top: 44%;
			span{
				font-size: 80px;
				background: none !important;
			}
		}
	}
}
.editor-content{
	h2{
		&.center{
			text-align: center;
		}
	}
	p{
		&.justify{
			color: $color-text;
			font-size: 16px;
			margin: 20px 0;
			display: inline-block;
			width: 100%;
			text-align: justify;
		}
	}
	&.pr-70{
		padding-right: 70px;
	}
	p{
		line-height: 26px;
		font-weight: normal;
	}
}
.button-link{
	display: inline-block;
	width: 100%;
	text-align: right;
	a{
		background: $color-green-3;
		color: white;
		text-transform: uppercase;
		font-size: 16px;
		text-align: center;
		display: inline-block;
		padding: 15px 30px;
	}
}
.video-popup{
	.modal-body{
		padding: 0 !important;
		button{
			position: absolute;
			right: -50px;
			top: -10px;
			font-weight: normal;
			width: 40px;
			height: 40px;
			background: white;
			opacity: 1;
			border-radius: 100%;
			color: #999;
			line-height: 14px;
		}
	}
	.content-video{
		iframe{
			width: 100%;
			height: 454px;
		}
	}
}
footer{
	.editor-footer{
		span{
			text-align: left;
			display: inline-block;
			width: 100%;
		}
	}
	.logo-footer{
		span{
			display: inline-block;
			margin-bottom: 20px;
			width: 100%;
		}
	}
}
.animation-numbers{
	.col{
		padding: 0 !important;
		&:nth-last-child(1){
			h2{
				position: relative;
				&::before{
					content: '+';
					
					display: inline-block;
					font-size: 32px;
					color: $color-blue-dam;
					position: absolute;
					right: -10px;
					top: 15%;
				}
			}
		}
		h2{
			font-family: 'Merriweather Sans', sans-serif;
		}
	}
	.count-title {
		font-size: 52px;
		font-weight: normal;
		color: $color-blue-dam;
		margin-top: 10px;
		margin-bottom: 0;
		text-align: center;
		font-weight: 400;
		position: relative;
		
	}
	
	.count-text {
		font-size: 13px;
		font-weight: normal;
		text-transform: uppercase;
		margin-top: 10px;
		margin-bottom: 0;
		color: $color-blue-dam;
		text-align: center;
	}
	
}
.phone-head{
	a{
		text-decoration: none;
		display: flex;
		align-items: center;
		span{
			color: white;
			font-size: 20px;
			margin-left: 2px;
		}
	}
}
footer{
	display: inline-block;
	padding: 50px 0;
	width: 100%;
	
}
a.link-download{
	height: 35px;
	background: #F6F6F6;
	color: #0081B8;
	display: inline-block;
	padding: 5px 20px;
	margin-top: 10px;
	border-radius: 50px;
	margin-bottom: 30px;
}
.maps-img{
	margin-bottom: 30px;
}
.editor-conferences{
	h3{
		font-size: 24px !important;
	}
}
.editor-conferences{
	h3{
		font-family: 'Lato', sans-serif;
	}
}
.row-member{
	display: flex;
	ul{
		margin-top: 20px;
		border: 0 !important;
		height: initial !important;
		b{
			margin-bottom: 14px;
			display: inline-block;
		}
		li{
			font-size: 14px;
			display: inline-block;
			text-align-last: left;
			width: 100%;
			position: relative;
			padding: 0;
			font-family: 'Lato', sans-serif;
			padding-left: 14px;
			&::after{
				content: '';
				display: inline-block;
				width: 5px;
				height: 5px;
				background: #121E48;
				border-radius: 50%;
				position: absolute;
				left: 0;
				top: 12px;
			}
		}
	}
}
img{
	max-width: 100%;
}
.slide-mb{
	display: none;
}
iframe{
	width: 100%;
}
h2{
	font-size: 32px;
	color: $color-primary;
}
.logo-footer{
	text-align: right;
}
.video-section{
	padding: 50px 0;
	position: relative;
	height: 600px;
	text-align: center;

	position: relative;
	padding-top: 100%;
	display: block;
	video{
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		left: 0;
		top: 0;
	}
	button{
		position: absolute;
		right: 20px;
		bottom: 20px;
		border: 0;
		background: $color-primary;
		color: white;
		outline: none;
	}
	h2{
		font-size: 32px;
		color: $color-primary;
		text-transform: uppercase;
	}
	.video-item{
		@include shadow();
		display: inline-block;
		margin-top: 20px;
		border-radius: 0 0 8px 8px;
		width: 100%;
		span{
			font-size: 16px;
			font-weight: bold;
			padding: 20px;
			text-align: left;
			display: inline-block;
			width: 100%;
			margin: 0;
		}
	}
}
.modal-title{
	color: $color-primary
}
.iphone-mockup{
	img{
		display: none;
		&.active{
			display: inline-block;
		}
	}
}
.content-step-tab{
	text-align: left;
	position: relative;
	&::before{
		height: 330px;
    left: 26px;
		width: 1px;
		top: 0;
		position: absolute;
		content: '';
		display: inline-block;
		border-left: 1px dashed #fff;
	}
	span{
		color: white;
		font-size: 16px;
		position: absolute;
		padding-left: 65px;
	}
	b{
		width: 50px;
		height: 50px;
		border-radius: 50%;
		z-index: 1;
		position: relative;
		display: inline-block;
		text-align: center;
		padding-top: 11px;
		background: white;
		margin-right: 20px;
	}
	.step-1{
		margin-top: 20px;
		cursor: pointer;
		display: flex;
		align-items: center;
		left: 60px;
		&:nth-child(1){
			margin-top: 60px;
		}
		&.active{
			b{
				background: $color-primary;
				color: white;
			}
		}
	}
}
.shopee-contenttab{
	&::before{
		height: 360px !important;
	}
}
.countdown-item a span {
    font-size: 20px !important;
}
iframe{
	float: left;
}
.road-maps{
	padding: 50px 0;
	text-align: center;
	display: inline-block;
	width: 100%;
	background: url(../images/step-bg.png) no-repeat center top;
	h2{
		color: white;
		margin-bottom: 30px;
	}
	ul{
		border: 0;
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: center;
		li{
			margin-bottom: 30px;
			padding: 0 5px;
			a{
				font-size: 14px;
				text-transform: uppercase;
				color: $color-text;
				background: white;
				display: inline-block;
				padding: 10px 20px;
				border-radius: 8px;
				&.active{
					background: $color-primary;
					color: white;
				}
			}
		}
	}
	min-height: 740px;
}
.countdown-item{
	position: relative;
	.sanmangay-link{
		position: absolute;
		bottom: 15px;
		right: 15px;
		background: $color-primary;
		color: white;
		text-decoration: none;
		padding: 5px 15px;
		border-radius: 8px;
	}
	@include shadow();
	a{
		span{
			font-size: 14px;
		font-weight: bold;
		padding: 20px;
		color: #FF6400;
		text-align: left;
		display: inline-block;
		background: white;
		width: 100%;
		margin: 0;
		border-radius: 0 0 8px 8px;
		text-decoration: underline;
		}
	}
}
.voucher-section{
	.countdown-item{
		a{
			span{
				font-size: 13px !important;
			}
		}
	}
}
.modal-header{
	button{
		outline: none;
		img{
			width: 30px;
		}
	}
}
.tab-bootraps-content a span {
    color: white !important;
    position: absolute;
}
.tab-bootraps-content{
	display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
	img{
		max-height: 500px;
	}
	a{
		padding: 0 !important;
		text-transform: none !important;
		display: flex !important;
		align-items: center;
		span{
			padding-left: 60px;
		}
		b{
			width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 1;
    position: relative;
    display: inline-block;
    text-align: center;
    padding-top: 11px;
    background: white !important;
    margin-right: 20px;
		}
		span{
			 color: white !important;
		}
		&.active{
			background: none !important;
			b{
				background: $color-primary !important;
				color: white !important;
			}

			span{
				b{
					background: none !important;
					color: white !important;
					margin: 0 !important;
					font-weight: normal !important;
				}
			}
		}
	}
	ul{
		li{
			text-align: left;
			display: inline-block;
			width: 100%;
		}
	}
}
.content-tab{
	ul{
		li{
			margin-bottom: 0!important;
			a{
				background: none;
				text-decoration: none !important;
				span{
					b{
						background: none !important;
						width: initial !important;
						height: initial !important;
						margin-right: 0 !important;
						font-weight: normal !important;
					}
				}
			}
		}
	}
}
.tab-bootraps-content a span {
    color: white !important;
}
.flex-content-tab{
	max-width: 1100px;
	margin: auto;
	ul{
		&.nav-pills{
			&::before{
				height: 430px;
    left: 29px;
		width: 1px;
		top: 0;
		position: absolute;
		content: '';
		display: inline-block;
		border-left: 1px dashed #fff;
			}
		}
	}
}
.content-popup{
	padding: 0 15px;
	p{
		font-weight: normal;
		text-align: justify;
		margin-bottom: 4px;
	}
}
.content-countdown{
	display: flex;
	justify-content: center;
	margin-top: 30px;
	ul{
		display: flex;
		align-items: center;
		padding: 0;
		b{
			font-size: 32px;
			line-height: 8px;
			margin-top: -42px;
			display: inline-block;
		}
		li{
			text-align: center;
			display: inline-block;
			span{
				background: #4B4B4B;
				width: 110px;
				height: 130px;
				display: inline-block;
				padding: 10px;
				
				border-radius: 8px;
				color: white;
				font-size: 72px;
			}
			label{
				display: inline-block;
				width: 100%;
			}
		}
	}
}
.countdown{
	.title-countdown{
		text-align: center;
		h2{
			b{
				font-size: 31px;
				display: inline-block;
				font-weight: 400;
				width: 100%;
			}
		}
	}
}
.slide-banner{
	margin-top: 56px;
    display: inline-block;
    width: 100%;
}
.voucher-section, .hotel-section{
	background: $color-primary;
	padding: 50px 0;
	display: inline-block;
	width: 100%;
	h2{
		text-align: center;
		margin-bottom: 30px;
		color: white;
	}
}
.hotel-section{
	padding-bottom: 0 !important;
}
.list-hotel{
	position: relative;
	padding-left: 315px;
	background: white;
	margin-bottom: 40px;
		overflow: hidden;
		border-radius: 8px;
	.banner-ads{
		position: absolute;
		left: 0;
		width: 300px;
		top: 0;
	}
	.slide-hotel-item{
		position: relative;
		.price{
			b,span{
				font-size: 13px;
			}
			span{
				opacity: .6;
				margin-left: 10px;
				text-decoration: line-through;
			}
		}
		
		h6{
			padding: 10px 0;
			padding-bottom: 0;
    		margin-bottom: 2px;
			a{
				font-size: 13px;
				color: $color-text;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				overflow: hidden;
			}
			
			&:hover{
				a{
					text-decoration: underline;
				}
			}
		}
		.owl-dots{
			display: none;
		}
		.owl-nav{
			button{
				outline: none;
			}
			.owl-next{
				width: 30px;
				height: 30px;
				border-radius: 50%;
				display: inline-block;
				font-weight: normal;
				color: white;
				background: #FF6400;
				padding: 0 !important;
				line-height: 6px;
				font-size: 19px;
				position: absolute;
				right: 0;
				top: 40%;
			}
			.owl-prev{
				width: 30px;
				height: 30px;
				border-radius: 50%;
				display: inline-block;
				font-weight: normal;
				color: white;
				background: #FF6400;
				padding: 0 !important;
				line-height: 6px;
				font-size: 19px;
				position: absolute;
				left: 0;
				top: 40%;
			}
		}
		.box-hotel-item{
			padding:15px 10px;
			.avatar-hotel{
				a{position: relative;
					padding-top:102%;
					display: block;
					img{
						position: absolute;
						width: 100%;
						height: 100%;
						object-fit: cover;
						object-position: center;
						left: 0;
						top: 0;
					}
				}
			}
		}
	}
}
.countdown{
	margin-bottom: 50px;
}
.hotel-section{
	background: #FFF9F4;
	h2{
		text-align: center;
		margin-bottom: 30px;
		color: $color-primary;
	}
}
.slide-banner-head{
	width: 100%;
}
.slide-pc{
	display: block !important;
}
.slide-mb{
	display: none !important;
}
.step-1{
	span{
		b{
			width: initial;
		height: initial;
		border-radius:0;
		z-index: 1;
		position: relative;
		display: inline-block;
		text-align: center;
		padding-top: 0 !important;
		background: none !important;
		margin-right: initial !important;
		font-weight: normal;
		font-size: initial !important;
		}
	}
}
.menu-mobile{
	display: none;
}
.button-action-form{
	display: inline-block;
	width: 100%;
	text-align: center;
	button{
		display: inline-block;
		background: $color-oragen;
		color: white !important;
		font-size: 16px;
		font-weight: bold;
		margin-top: 30px;
		padding: 10px 30px;
	}
}
.form-section-contact{
	background: #282F3E;
	display: inline-block;
	width: 100%;
	h3{
		text-align: center;
		font-size: 30px;
		color: white;
		display: inline-block;
		margin-bottom: 20px;
		width: 100%;
		font-weight: bold;
	}
	.form-never-miss{
		form{
			max-width: 850px;
			margin: auto;
			input{
				height: 45px;
				border: 0;
				font-size: 14px;
			}
		}
	}
}
.infor-news{
	padding-top: 20px;
	padding-right: 15px;
	h6{
		font-size: 16px;
		font-weight: bold;
		a{
			color: $color-oragen;
			position: relative;
			padding: 0 !important;
			margin-bottom: 20px;
			font-size: 18px;
		}
	}
	p{
		margin-bottom: 5px;
	}
}
.popup-conferences{
	.modal-dialog{
		max-width: 1100px !important;
	}
	.modal-content{
		background: none;
		box-shadow: none;
		border: 0;
		outline: none;
	}
}
.next-conferences{
	.item-news{
		position: relative;
		padding-left: 300px;
		box-shadow: 0px 2px 6px rgba(7, 24, 44, 0.3);
		min-height: 280px;
		overflow: hidden;
		border-radius: 2px;
		margin-bottom: 40px;
		.avatar-news{
			position: absolute;
			left: 0;width: 280px;
			top: 0;
			a{
				position: relative;
				padding-top: 100%;
				display: block;
				img{
					position: absolute;
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center;
					left: 0;
					top: 0;
				}
			}
		}
	}
	.link-detail-news{
		display: inline-block;
		width: 100%;
		margin-top: 20px;
		text-align: right;
		a{
			display: inline-block;
			background: #2D8586;
			color: white;
			font-size: 15px;
			padding: 10px 30px;
			border-radius: 2px;
			font-weight: bold;
		}
	}
}
.loadmore{
	display: inline-block;
	width: 100%;
	margin-top: 20px;
	text-align: center;
	a{
		font-weight: bold;
		display: inline-block;
		padding: 10px 30px;
		background: $color-oragen;
		color: white;
		border-radius: 2px;
	}
}
.form-contact-page{
	input{
		height: 40px;
		font-size: 14px;
		border: 1px solid $color-border;
		width: 100%;
		border-radius: 5px;
		padding: 5px 15px;
		background: white;
	}
	textarea{
		height: 100px;
		font-size: 14px;
		border: 1px solid $color-border;
		width: 100%;
		border-radius: 5px;
		padding: 5px 15px;
		background: white;
	}
	button{
		height: 50px;
		display: inline-block;
		background: #282F3E;
		color: white !important;
		font-size: 16px;
		padding: 5px 40px;
	}
}
.conferences-about{
	
	h1{
		text-align: center;
		display: inline-block;
		width: 100%;
		font-family: 'PT Sans Caption', sans-serif;
	}
	p{
		&.time-location{
			font-family: 'PT Sans Caption', sans-serif;
			text-align: center;
		}
	}
}
.breadcrumb-head{
	display: inline-block;
	width: 100%;
	margin-bottom: 30px;
	span{
		margin-right: 10px;
		font-family: 'Lato', sans-serif;
	}
}
.box-conferences{
	display: inline-block;
	width: 100%;
	padding: 30px 100px;
	border: 1px solid $color-border;
}
.img-head-conferences{
	position: relative;
	img{
		width: 100%;
	}
	b{
		position: absolute;
		right: -20px;
		top: -31px;
		width: 100px;
		text-align: center;
		text-transform: uppercase;
		color: white;
		font-weight: bold;
		padding: 50px 15px;
		background: $color-green;
	}
}
.editor-conferences{
	h6{
		font-weight: 600;
	}
	h3{
		font-weight: 600;
	}
}
.tab-conferences{
	margin-top: 30px;
}
.editor-conferences{
	margin-top: 30px;
}
.confer-other{
	h2{
		font-weight: 600;
		text-align: center;
		color: $color-text;
		display: inline-block;
		width: 100%;
		margin-bottom: 30px;
	}
	.item-confer-other{
		border: 1px solid $color-border;
		.avatar-confer-other{
			a{
				position: relative;
				padding-top: 27%;
				display: block;
				img{
					position: absolute;
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center;
					left: 0;
					top: 0;
				}
			}
		}
	}
}
.infor-confer-other{
	padding: 20px;
	h6{
		font-size: 18px;
		a{
			font-size: 16px;
			font-weight: 600;
			color: $color-text;
		}
	}
	p{
		span{
			display: inline-block;
			width: 100%;
		}
		margin-bottom: 0;
	}
}
.editor-conferences{
	ul{
		&.nav{
			justify-content: center;
			border: 0 !important;
			li{
				a{
					border-radius: 50px;
					margin: 0 5px;
					display: inline-block;
					padding: 5px 40px;
					color: #0081B8;
					background: #F6F6F6;
					&.active{
						background:#1468A1;
						color: white !important;
					}
				}
			}
			a{
				border: 0 !important;
			}
		}
	}
}
.slide-tab-editor{
	display: inline-block;
	width: 100%;
	margin: 0px 0 0 0;
	img{
		max-width: 712px;
		margin: auto;
	}
	.owl-nav{
		button{
			background: none !important;
			outline: none !important;
			span{
				font-size: 92px;
				color: $color-text !important;
			}
			&.owl-prev{
				position: absolute;
				left: 0;
				top: 45%;
			}
			&.owl-next{
				position: absolute;
				right: 0;
				top: 45%;
			}
		}
	}
}
.embebmaps{
	display: inline-block;
	width: 100%;
	margin-top: 30px;
	text-align: center;
	iframe{
		width: 100%;
		height: 400px;
		margin-top: 10px;
	}
}
.profile-content-editor{
	position: relative;
	a{
		pointer-events:none !important;
	}
	.col-md-3{
		position: initial !important;
	}
}
.languages-head{
	display: flex;
	img{
		margin-left: 15px;
		height: 20px;
	}
}
.item-hover{
	padding: 50px;
	background: #3E3D3D;
	width: 100%;
	z-index: 1;
	button{
		outline: none;
		text-shadow: none;
		i{
			color: white;
		}
	}
	.infor-tootip{
		display: inline-block;
		text-align: left;
		h6{
			font-size: 25px;
			display: inline-block;
			width: 100%;
			margin-bottom: 0;
			color: #FBFBFB;
		}
		span{
			margin-bottom: 15px;
			color: #5C5C77;
			display: inline-block;
			width: 100%;
		}
		p{
			color: white;
		}
		b{
			margin-top: 20px;
			text-transform: uppercase;
			color: #FBFBFB;
		}
		label{
			display: inline-block;
			width: 100%;
			color: #5C5C77;
		}
	}
	.content-tooltip{
		padding-left: 380px;
		position: relative;
		width: 100%;
		display: inline-block;
		.avatar-tootip{
			position: absolute;
			width: 345px;
			left: 0;
			top: 0;
			img{
				width: 100%;
			}
		}
	}
}
.item-profile{
	margin-top: 30px;
	text-align: center;
	position: relative;
	span, b{
		display: inline-block;
		width: 100%;
		font-weight: normal;
		font-size: 14px;
	}
	b{
		font-size: 18px;
	}
	.avatar-ceo{


		a{
			position: relative;
			padding-top: 130%;
			display: block;
			margin-bottom: 10px;
			img{
				position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    left: 0;
    top: 0;
			}
		}
	}
	&:hover{
		.item-hover{
			visibility: initial;
			opacity: 1;
		}
	}
}
.confer-other{
	.w-1000{
		max-width: 1000px;
	}
}
.key-date{
	margin-top: -10px;
	ul{
		height: initial !important;
		border: 0 !important;
	}
}
.box-Organizer{
	margin: 30px 0;
	text-align: center;
	h6{
		font-size: 20px;
		margin-bottom: 20px;
	}
	.box-logo-Organizer{
		img{
			height: 30px;
			margin:10px;
		}
	}
}
.key-date{
	h5{
		font-size: 32px;
		border-bottom: 1px solid $color-text2;
		display: inline-block;
		width: 100%;
		line-height: 60px;
	}
	ul{
		padding: 0;
		li{
			list-style: none;
			position: relative;
			padding: 5px 0;
			padding-left: 90px;
			span{
				position: absolute;
				left: 0;
				top: 5px;
				font-size: 13px;
			}
			p{
				display: inline-block;
				width: 100%;
				font-size: 14px;
				margin: 0;
				line-height: 25px;
			}
		}
	}
}
.link-keydates{
	b{
		font-weight: 600;
		font-size: 15px
	}
}
.tab-conferences{
	ul{
		border-bottom: 1px solid #dfdfdf;
    	height: 47px;
		li{
			a{
				padding: 10px 30px;
				background: white;
				color: $color-text;
				border-bottom: 1px solid $color-border;
				margin-bottom: -1px;
				display: inline-block;
				text-decoration: none;
				&.active{
					border-left: 1px solid $color-border;
					border-right: 1px solid $color-border;
					border-top: 1px solid $color-border;
					border-bottom:0;
					color: $color-primary;
				}
			}
			
		}
	}
}
@media only screen and (max-width: 767px) {
	.editor-content.pr-70 {
		padding-right: 0;
	}
	footer .logo-footer span {
		text-align: left;
		margin-top: 20px;
	}
	footer .logo-footer{
		text-align: left;
	}
	.animation-numbers .count-title {
		font-size: 27px;
	}
	h2 {
		font-size: 22px;
	}
	.animation-numbers .col:nth-last-child(1) h2::before {
		content: '+';
		display: inline-block;
		font-size: 26px;
		color: #121E48;
		position: absolute;
		right: 10px;
		top: -2px;
	}
	header{
		nav{
			position: fixed;
			width: 100%;
			display: none;
			@include shadow();
			background: white;
			top: 65px;
			left: 0;
			ul{
				display: inline-block;
						width: 100%;
				padding: 0 !important;
				margin: 0 !important;
				li{
					display: inline-block;
						width: 100%;
					a{
						font-weight: bold;
						display: inline-block;
						opacity: .7;
						padding: 15px;
						width: 100%;
					}
				}
			}
		}
		&.active{
			nav{
				display: inline-block !important;
			}
			.menu-mobile{
				i{
					&::before{
						content: "\e646";
						font-family: 'themify';
					}
				}
			}
		}
	}
	.logo{
		img{
			height: 40px;
		}
	}
	.menu-mobile{
		display: block;
		position: fixed;
		top: 22px;
		opacity: .6;
		right: 15px;
		i{
			font-size: 21px;
			color: $color-text2;
		}
	}
	.video-popup .content-video iframe {
		width: 100%;
		height: 214px;
	}
	.video-popup .modal-body button {
		position: absolute;
		right: 41%;
		top: 230px;
		font-weight: normal;
		width: 40px;
		height: 40px;
		background: white;
		opacity: 1;
		border-radius: 100%;
		color: #999;
		line-height: 14px;
	}
	.video-section .container .icon-video {
		height: 315px;
	}
	.video-section {
		background-size: cover;
		height: 220px;
	}
	.slide-pc {
		display: none !important;
	}	
	.slide-mb {
		display: block !important;
	}	
	.animation-numbers{
		margin-bottom: 30px;
	}
	.next-conferences .item-news .avatar-news {
		width: 110px;
	}
	.next-conferences .item-news {
		position: relative;
		padding-left: 130px;
		min-height: 280px;
		box-shadow: none;
		border-radius: 0 !important;
		min-height: initial;
		padding-bottom: 20px;
		border-bottom: 1px solid $color-border;
	}
	.infor-news{
		padding-top: 0 !important;
		p{
			margin-bottom: 4px;
		}
	}
	body{
		font-size: 13px;
	}
	.item-confer-other{
		margin-bottom: 10px;
	}
	.tab-conferences ul {
		border-bottom: 1px solid #dfdfdf;
		height: 47px;
		flex-wrap: inherit;
		overflow-x: auto;
		overflow-y: hidden;
	}
	.editor-conferences{
		ul{
			padding: 0;
			display: inline-block !important;
		}
	}
	.tab-pane{
		.editor-conferences{
			ul{
				&.nav{
					display: flex !important;
					li{
						a{
							margin: 2px !important;
							font-size: 12px;
							padding: 4px 2px;
							min-height: 40px;
							border-radius: 4px;
							line-height: 15px;
							display: flex;
							align-items: center;
							align-content: center;
							text-align: center;
							justify-content: center;
						}
					}
				}
			}
		}
	}
	.tab-conferences ul li a {
		min-width: 109px;
		padding: 10px 5px;
		text-align: center;
	}
	.confer-other{
		padding-top: 0;
	}
	.editor-conferences{
		img{
			margin-bottom: 10px;
		}
	}
	.img-head-conferences b {
		position: absolute;
		right: 0;
		top: -11px;
	}
	.img-head-conferences b {
		position: absolute;
		width: 80px;
		text-align: center;
		text-transform: uppercase;
		color: white;
		font-weight: bold;
		padding: 20px 15px;
		background: #8EC321;
		font-size: 12px;
	}
	.box-conferences {
		display: inline-block;
		width: 100%;
		border: 0;
		padding: 0 !important;
		border-bottom: 1px solid $color-border;
	}
	.row-member{
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin-left: -10px;
		margin-right: -10px;
		ul{
			-ms-flex: 0 0 50%;
			flex: 0 0 50%;
			max-width: 50%;
			padding: 0 10px;
		}
	}
	.item-profile .item-hover .content-tooltip {
		padding-left: 0;
	}
	.item-profile .item-hover .content-tooltip .avatar-tootip {
		width: 100%;
	}
	.languages-head {
		display: flex;
		margin: 0px 70px 0 0;
	}
	.item-hover .content-tooltip {
		padding-left: 0;
	}
	.item-hover {
		padding: 0;
	}
	.popup-conferences{
		.modal-dialog{
			margin: 0 !important;
		}
		.modal-body{
			padding: 0 !important;
		}
	}
	.item-hover .content-tooltip .avatar-tootip {
		width: 100%;
	}
	.infor-tootip{
		padding: 15px;
	}
	.item-hover .content-tooltip .avatar-tootip{
		position: relative;
	}
	.item-hover button {
		outline: none;
		text-shadow: none;
		position: absolute;
		right: 15px;
		top: 15px;
		z-index: 1;
	}
	.profile-content-editor{
		.row{
			.col-md-3{
				-ms-flex: 0 0 50%;
				flex: 0 0 50%;
				max-width: 50%;
			}
		}
	}
}